[submodule "external/capstone"]
	path = external/capstone
	url = https://github.com/capstone-engine/capstone/
	branch = next
[submodule "external/nativefiledialog-extended"]
	path = external/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended/
[submodule "external/parallel-rdp/parallel-rdp-standalone"]
	path = external/parallel-rdp/parallel-rdp-standalone
	url = https://github.com/CocoSimone/parallel-rdp-standalone/
