[submodule "external/nativefiledialog-extended"]
	path = external/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended/
[submodule "external/parallel-rdp/parallel-rdp-standalone"]
	path = external/parallel-rdp/parallel-rdp-standalone
	url = https://github.com/SimoneN64/parallel-rdp-standalone/
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/unarr"]
	path = external/unarr
	url = https://github.com/SimoneN64/unarr
