*.toml
*.ini
*build*/
.idea/
*.z64
*.n64
*.v64
*.Z64
*.N64
*.V64
saves/
*.bin
*.sh
.cache/
.vs/
.vscode/
vgcore.*
*.dump
*.data
disasm.txt
*log*.txt
CMakeSettings.json
out/
settings.json
compile_commands.json
*.diagsession
